@import '../../shared/styles/panel.css';

.config-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

.config-form input[type="text"] {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.toggle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
