<div class="logs-container page-container">
  <app-navbar></app-navbar>
  <h2>Audit Logs</h2>

  <div class="panel">
    <!-- <h3>Audit Log Table</h3> -->
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Action</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Admin</td>
          <td>Changed Threshold</td>
          <td>2023-10-26</td>
        </tr>
        <tr>
          <td>Admin</td>
          <td>Keyword Priority</td>
          <td>2023-10-26</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
